<div class="container">
    <div class="row">
        <div class="offset-1 col-4">
            <a routerLink="/" class="btn btn-danger">Link 1</a>
        </div>
        <div class="offset-1 col-4">
            <a routerLink="/" class="btn btn-danger">Link 1</a>
        </div>
        <div class="offset-1 col-4">
            <a routerLink="/" class="btn btn-info">Link 1</a>
        </div>
        <div class="offset-1 col-4">
            <a routerLink="/admin" class="btn btn-danger">Panel administracyjny</a>
        </div>
    </div>
</div>