<div class="container">
    <div class="row text-white my-2 g-3">
        <div class="col-12">
            <h1 class="text-header text-danger">Panel administracyjny</h1>
        </div>
        <div routerLink="/accounts" class="col-5 bg-primary bg-gradient tile">
            Konta
        </div>
        <div routerLink="/courses" class="col-5 bg-secondary bg-gradient tile">
            Kursy
        </div>
        <div class="col-12">&nbsp;</div>
        <div routerLink="/tests" class="col-5 bg-info bg-gradient tile">
            Testy
        </div>
        <div routerLink="/grades" class="col-5 bg-success bg-gradient tile">
            Oceny
        </div>
    </div>
</div>