<div class="row" style="min-width: 800px;">
    <div class="col-12 my-2 text-center">
        Pozostały czas: <b>{{ minutesLeft() }} minut i {{ secondsLeft() }} sekund </b>
    </div>
    <div class="col-12 my-2 text-center">
        Pytanie {{ currentQuestionIndex + 1 }} / {{ test?.textQuestions?.length }}
    </div>
    <form [formGroup]="testForm">
        <div class="col-6 offset-3">
            <div class="mt-2">
                <div class="border border-dark p-3 mt-2">
                    <p>
                        Pytanie: <b>{{ currentQuestion?.title }}</b>
                    </p>
                    <div class="form-check">
                        <input class="form-check-input" formControlName="answer" type="radio" name="answer" id="answer1" value="{{currentQuestion?.answers[0]}}">
                        <label class="form-check-label" for="answer1">
                            {{ currentQuestion?.answers[0] }}
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" formControlName="answer" type="radio" name="answer" id="answer2" value="{{currentQuestion?.answers[1]}}">
                        <label class="form-check-label" for="answer2">
                            {{ currentQuestion?.answers[1] }}
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" formControlName="answer" type="radio" name="answer" id="answer3" value="{{currentQuestion?.answers[2]}}">
                        <label class="form-check-label" for="answer3">
                            {{ currentQuestion?.answers[2] }}
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" formControlName="answer" type="radio" name="answer" id="answer4" value="{{currentQuestion?.answers[3]}}">
                        <label class="form-check-label" for="answer4">
                            {{ currentQuestion?.answers[3] }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <button class="btn btn-success d-block mx-auto w-50" (click)="nextQuestion()" [disabled]="!testForm.valid">Następne pytanie</button>
        </div>
        <div class="text-center text-danger mt-2">
            Nie ma możliwości powrotu do poprzednich pytań!
        </div>
    </form>
</div>

<app-spinner [isSpinning]="isSpinning"></app-spinner>