<div class="course-list-container" [ngStyle]="{'background': courseType === type.My ? '#f6d8cd' : '#bed3f1'}">
    <ng-container *ngIf="courses.length > 0; else noCourses">
        <mat-form-field appearance="standard" class="w-100">
            <mat-label>Wyszukiwarka</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Szukana fraza. np. Matematyka Stosowana" #input>
        </mat-form-field>
        
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort class="w-100">
        
                <ng-container matColumnDef="get">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Podgląd</th>
                    <td mat-cell *matCellDef="let row"> 
                        <button class="btn btn-secondary w-50 d-block mx-auto" routerLink="/courses/{{row.id}}">
                            Zobacz
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="assign">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Przypisanie</th>
                    <td mat-cell *matCellDef="let row"> 
                        <button class="btn btn-primary w-50 d-block mx-auto" (click)="raiseAssignToCourse(row)">
                            Zapisz się
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="unassign">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Przypisanie</th>
                    <td mat-cell *matCellDef="let row"> 
                        <button class="btn btn-danger w-50 d-block mx-auto" (click)="raiseUnassignFromCourse(row)">
                            Wypisz się
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="update" *ngIf="courseType === type.My">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Aktualizacja</th>
                    <td mat-cell *matCellDef="let row"> 
                        <button class="btn btn-warning w-50 d-block mx-auto" style="color: #fff;" routerLink="/courses/update/{{row.id}}">
                            Aktualizuj
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete" *ngIf="courseType === type.My">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Usunięcie</th>
                    <td mat-cell *matCellDef="let row"> 
                        <button class="btn btn-danger w-50 d-block mx-auto" (click)="raiseDeleteCourse(row.id)">
                            Usuń
                        </button>
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Nazwa </th>
                    <td mat-cell *matCellDef="let row" class="text-center"> {{ row.name }}</td>
                </ng-container>
        
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Opis </th>
                    <td mat-cell *matCellDef="let row" class="text-center"> {{ (row.description !== "") ? row.description : "-" }} </td>
                </ng-container>
        
                <ng-container *ngIf="courseType === type.Assigned || courseType === type.All" matColumnDef="creator">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Założyciel </th>
                    <td mat-cell *matCellDef="let row" class="text-center"> {{ getCreatorName(row.id) }}</td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
                <tr class="mat-row" *matNoDataRow>
                <td *ngIf="courseType === type.My" class="mat-cell" colspan="7">Żadne dane nie spełniają kryterium: "{{input.value}}"</td>
                <td *ngIf="courseType === type.All" class="mat-cell" colspan="5">Żadne dane nie spełniają kryterium: "{{input.value}}"</td>
                <td *ngIf="courseType === type.Assigned" class="mat-cell" colspan="4">Żadne dane nie spełniają kryterium: "{{input.value}}"</td>
                </tr>
            </table>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Wybierz stronę"></mat-paginator>
        </div>
    </ng-container>

    <ng-template #noCourses>
        <div class="row">
            <div class="col-12 text-center">
                Nie ma kursów w tej sekcji.
            </div>
        </div>
    </ng-template>
</div>

<app-spinner [isSpinning]="isSpinning"></app-spinner>