<h1 mat-dialog-title>Edycja testu "{{selectedTest?.name}}"</h1>
<hr />
<form [formGroup]="updateTestForm">
    <mat-dialog-content class="mat-typography">
    <div class="row" style="min-height: 100px; min-width: 450px;">
        <div class="col-12 text-center">
            <label class="mb-1" for="testName">Nazwa testu</label>
            <input type="text" class="w-50 d-block mx-auto rounded form-control text-center" formControlName="name" id="testName" placeholder="Nazwa testu" required>
            <p class="text-danger mt-1"
                *ngIf="(updateTestForm.controls['name'].errors?.['required'] && updateTestForm.controls['name'].touched)
                ||
                (updateTestForm.controls['name'].errors?.['minlength'] && updateTestForm.controls['name'].touched)">
                Nazwa testu musi składać się z co najmniej 3 znaków
            </p>
        </div>
    </div>
    </mat-dialog-content>
    <mat-dialog-actions class="mt-5 d-flex justify-content-end">
    <button class="btn btn-danger d-block w-25" [mat-dialog-close]="false">Anuluj</button>
    <button class="btn btn-success d-block w-50 mx-3" (click)="updateTest()" [mat-dialog-close]="true" [disabled]="!updateTestForm.valid">Zaktualizuj test</button>
    </mat-dialog-actions>
</form>