<h1 mat-dialog-title>Aktualizacja sekcji "{{ selectedSection?.name }}" z {{ selectedSection?.date | date: 'dd/MM/yyyy'}}</h1>
<hr />
<form [formGroup]="editSectionForm">
    <mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-12 text-center">
            <label class="mb-1" for="sectionName">Nazwa sekcji</label>
            <input type="text" class="w-50 d-block mx-auto rounded form-control text-center" formControlName="name" id="sectionName" placeholder="Nazwa sekcji" required>
            <p class="text-danger mt-1"
                *ngIf="(editSectionForm.controls['name'].errors?.['required'] && editSectionForm.controls['name'].touched)
                ||
                (editSectionForm.controls['name'].errors?.['minlength'] && editSectionForm.controls['name'].touched)">
                Nazwa sekcji musi składać się z co najmniej 3 znaków
            </p>
        </div>
        <div class="col-12 text-center mt-5">
            <label class="mb-1" for="sectionDescription">Opis sekcji <span class="fw-light">(opcjonalny)</span></label>
            <textarea class="w-50 d-block mx-auto rounded form-control text-center" formControlName="description" placeholder="Opis sekcji" id="sectionDescription"></textarea>
        </div>
        <div class="col-12 text-center mt-5">
            <label class="mb-1" for="sectionDate">Data sekcji</label>
            <input type="date" class="w-50 d-block mx-auto rounded form-control text-center" formControlName="date" id="sectionDate" placeholder="Data sekcji" required>
            <p class="text-danger mt-1"
                *ngIf="(editSectionForm.controls['date'].errors?.['required'] && editSectionForm.controls['date'].touched)">
                Sekcja musi mieć wyznaczoną datę realizacji
            </p>
        </div>
    </div>
    </mat-dialog-content>
    <mat-dialog-actions class="mt-5 d-flex justify-content-end">
    <button class="btn btn-danger d-block w-25" [mat-dialog-close]="false">Anuluj</button>
    <button class="btn btn-success d-block w-25 mx-3" (click)="editSection()" [mat-dialog-close]="true" [disabled]="!editSectionForm.valid">Zaktualizuj sekcję</button>
    </mat-dialog-actions>
</form>