<ul class="list-group list-group-flush">
    <li class="list-group-item d-flex align-items-center" style="padding: 0;" *ngFor="let file of files">
        <button class="btn btn-primary btn-gradient" style="color: #fff;" (click)="downloadFile(file.id)">
            <i class="fa-solid fa-download"></i>
        </button>
        <button class="btn btn-danger" style="margin-left: 0.3em;" *ngIf="creatorId === currentUser.id || userRole === role.Admin" (click)="deleteFile(file.id)">
            <i class="fa-solid fa-trash"></i>
        </button>
        <p class="align-self-center mt-3" style="margin-left: 0.3em;">
            <b> {{ file?.name }} </b>- {{ file?.description }}
        </p>
    </li>
</ul>