<div class="row" class="course-list-container mt-5 pt-5">
    <div class="col-8 offset-2 mb-5 pb-5">
        <mat-form-field class="w-100">
            <mat-label>Wyszukiwarka</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="np. Kolowkium I" #input>
          </mat-form-field>
          
          <div class="mat-elevation-z8" style="background: #FFF6F3;">
            <table mat-table [dataSource]="dataSource" matSort class="w-100">

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Usunięcie </th>
                <td mat-cell *matCellDef="let row" class="text-center">
                    <button class="btn btn-danger w-75 d-block mx-auto" (click)="deleteTest(row.id)">
                        Usuń
                    </button>    
                </td>
            </ng-container>
          
              <ng-container matColumnDef="testName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Nazwa testu </th>
                <td mat-cell *matCellDef="let row" class="text-center"> {{row.testName}} </td>
              </ng-container>
          
              <ng-container matColumnDef="courseName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Nazwa kursu </th>
                <td mat-cell *matCellDef="let row" class="text-center"> {{row.courseName}} </td>
              </ng-container>
          
              <ng-container matColumnDef="points">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Punkty </th>
                <td mat-cell *matCellDef="let row" class="text-center"> {{ row.points }} </td>
              </ng-container>

              <ng-container matColumnDef="timeMinutes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Czas (minuty) </th>
                <td mat-cell *matCellDef="let row" class="text-center"> {{ row.timeMinutes }} </td>
              </ng-container>
          
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="5">Żadne dane nie spełniają kryterium: "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Wybierz stronę"></mat-paginator>
          </div>
    </div>
</div>

<app-spinner [isSpinning]="isSpinning"></app-spinner>