<div class="container">
    <div class="row" *ngIf="userRole >= role.Tutor">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <button class="btn btn-success" routerLink="/courses/create">
                <i class="fa-solid fa-plus"></i>
            </button>
            <h1 class="text-header text-dark">Moje kursy</h1>
            <button class="btn btn-success" routerLink="/courses/create">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
        <div class="col-12" >
            <app-course-list [courses$]="myCourses$" [courseType]="type.My" (deleteEvent)="deleteCourse($event)"></app-course-list>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h1 class="text-header text-dark">Kursy do których jestem zapisany(a)</h1>
        </div>
        <div class="col-12">
            <app-course-list #courseList [courses$]="assignedCourses$" [courseType]="type.Assigned" (unassignEvent)="unassignFromCourse($event)"></app-course-list>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <h1 class="text-header text-dark">Wyszukiwarka kursów</h1>
        </div>
        <div class="col-12">
            <app-course-list #courseList [courses$]="allCourses$" [courseType]="type.All" (assignEvent)="assignToCourse($event)"></app-course-list>
        </div>
    </div>
</div>